aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio==3.4.3
asynco==0.0.5
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
dataclasses==0.6
discord.py==1.7.3
idna==2.10
joblib==1.0.1
multidict==5.1.0
numpy==1.20.1
pandas==1.2.4
Pillow==8.2.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
scikit-learn==0.24.1
scipy==1.6.1
six==1.16.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.8.1+cu102
torchaudio==0.8.1
torchtext==0.9.1
torchvision==0.9.1+cu102
tqdm==4.58.0
typing-extensions==3.7.4.3
urllib3==1.26.4
XlsxWriter==1.4.3
yarl==1.6.3
